.container {
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;

    .side-bar {
        flex-basis: 15%;
        border-right: 1px solid darkgray;
        display: flex;
        flex-direction: column;
        padding: 30px;

        .logo {
            height: 80px;
            align-content: center;
            align-self: center;
            cursor: pointer;
        }

        .nav-item {
            height: 50px;
            border-radius: 10px;
            align-content: center;
            padding: 10px;

            &:hover {
                background-color: lightgray;
            }
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .top-bar {
            height: 100px;
            width: 100%;
            display: flex;
            border-bottom: 1px solid darkgray;
            display: flex;
            justify-content: space-between;
            padding: 30px;

            .user-details {
                display: flex;
                gap: 15px;
                align-items: center;

                .logout-icon {
                    cursor: pointer;
                }
            }
        }

        .content {
            padding: 30px;
        }
    }

}